@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: 'Spline Sans', sans-serif;
}

body {
  @apply bg-background-light text-text-main antialiased overflow-hidden;
}

.dark body {
  @apply bg-background-dark text-gray-100;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 6px;
}
